<style>
    .footer-list li {
    color: #b7b7b7;
}

</style>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Logo and About -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/"><img src="/img/footer-logo.png" alt="Brand Logo"></a>
                    </div>
                    <p>Men Fashion is a platform dedicated to modern menswear, bringing you premium-quality apparel, timeless styles, and unbeatable prices.</p>
                </div>
            </div>

           
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer__widget">
                  <h6>Why Shop With Us?</h6>
                  <ul class="footer-list">
                    <li>24/7 Customer Support</li>
                    <li>Secure Payment Options</li>
                    <li>Simple Return Process</li>
                    <li>Fast & Reliable Delivery</li>
                  </ul>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="footer__widget">
                    <h6>Stay Updated</h6>
                    <div class="footer__newslatter">
                        <p>Subscribe to get the latest offers and updates.</p>
                        <form id="customForm">
                            <div class="d-flex flex-row"></div>
                            <input class="form-control" id="emailInput" name="EMAIL" placeholder="Enter Email"
                             onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                            <button type="submit"><span class="icon_mail_alt" aria-hidden="true"></span></button>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>

         document.getElementById("customForm").addEventListener("submit", function(event) {
             event.preventDefault(); 
                        
             let emailInput = document.getElementById("emailInput");
             let infoDiv = document.querySelector(".info");
                        
             infoDiv.textContent = "Submitting...";
             infoDiv.style.color = "white";
                                
                setTimeout(() => {
                    infoDiv.textContent = "Submitted!";
                    emailInput.value = ""; 
                }, 2000);
                   });
         </script>
</body>

</html>